footer {
  text-align: center;
  font-family: 'monserrat';
  font-size: 15px; }
  footer .social {
    margin: 50px; }
  footer .social h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px; }
  footer .links {
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .links a {
      margin: 0 30px; }
      footer .links a i {
        font-size: 2.5rem; }

.quienessomos {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 5rem; }

.mapa {
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
  margin-top: 40px; }
  .mapa h3 {
    text-align: start;
    font-size: 18px; }

.mapaimg {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px; }
